version: 2.1

orbs:
  win: circleci/windows@2.2.0

references:
  workspace_root: &workspace_root
    /tmp/workspace
  attach_workspace: &attach_workspace
    attach_workspace:
      at: *workspace_root

jobs:
  build_ubuntu18_installer:
    docker:
      - image: sgpearse/vapor3-ubuntu18installer:latest

    steps:
      - checkout

      - run:
          name: make installer
          command: |
            cd /root/project/build
            git branch --set-upstream-to=origin/installers installers
            git pull
            git checkout main
            git reset --hard origin/main
            cmake -DCMAKE_BUILD_TYPE:String=Release -DDIST_INSTALLER:string=ON -DUSE_OMP=ON ..
            make -j7
            make installer
            for f in VAPOR3-*.sh ; do mv "$f" "${f/Linux/Ubuntu18-Weekly}" ; done
            mkdir -p /tmp/workspace/installers
            mv *.sh /tmp/workspace/installers

      - run:
          name: save version number
          command: |
            /root/project/build/bin/vaporversion -numeric > /tmp/workspace/installers/vaporVersion.txt

      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  build_centos7_installer:
    docker:
      - image: sgpearse/vapor3-centos7:latest

    steps:
      - checkout

      - run:
          name: cmake3 and make
          command: |
            cd /root/project/build
            git branch --set-upstream-to=origin/installers installers
            git pull
            git checkout main
            git reset --hard origin/main
            cmake3 -DCMAKE_BUILD_TYPE:String=Release -DDIST_INSTALLER:string=ON -DUSE_OMP=ON ..
            make
            make installer
            for f in VAPOR3-*.sh ; do mv "$f" "${f/Linux/CentOS7-Weekly}" ; done
            mkdir -p /tmp/workspace/installers
            mv *.sh /tmp/workspace/installers

      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  build_osx_installer:
    macos:
      xcode: "12.4.0"
    steps:
      - run:
          name: Make VAPOR-Deps
          command: |
            sudo mkdir -p /usr/local/VAPOR-Deps
            sudo chmod -R 777 /usr/local/VAPOR-Deps
            sudo chown -R `whoami` /usr/local/VAPOR-Deps

      - checkout

      - run:
          name: Get dependencies 
          command: |
            export DEPS=/usr/local/VAPOR-Deps/2019-Aug-Darwin.tar.xz
            if [ ! -f $DEPS ]; then
                ~/project/.circleci/getOSXDeps.sh
            fi

      - run:
          name: make VAPOR
          command: |
            git checkout main
            git pull --no-commit && git commit --allow-empty -m "Merge"
            git reset --hard origin/main
            cp site_files/site.NCAR site.local
            mkdir build
            cd build
            /usr/local/bin/cmake -DCPACK_BINARY_DRAGNDROP=ON -DCMAKE_BUILD_TYPE:String=Release -DDIST_INSTALLER:string=ON -DCMAKE_CXX_COMPILER=/opt/local/bin/clang++ -DCMAKE_C_COMPILER=/opt/local/bin/clang -DCMAKE_CXX_FLAGS=-I/opt/local/libexec/llvm-12/include -DCMAKE_EXE_LINKER_FLAGS=-L/opt/local/libexec/llvm-12/lib -DUSE_OMP=ON ..
            make
            make installer
            for f in VAPOR3-*.dmg ; do mv "$f" "${f/Darwin/Darwin-Weekly}" ; done
            mkdir -p /tmp/workspace/installers
            mv *.dmg /tmp/workspace/installers
          no_output_timeout: 30m

      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  build_win10_installer:
    executor: win/default
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: |
            #choco install visualcpp-build-tools -version 14.0.25420.1 -y
            choco install visualstudio2019-workload-vctools -y
            choco install python -y
            choco install git -y
            choco install cmake -y
            choco install nsis -y
            python -m pip install gdown
            #setx /M PATH "%PATH%;C:\Program Files (x86)\MSBuild\14.0\bin" 
            setx /M PATH "%PATH%;C:\Program Files (x86)\Microsoft Visual Studio\2019\BuildTools\MSBuild\Current\Bin" 
            msbuild -version
            pwd
            ls
            python .circleci/downloadWin3rdParty.py
      - run:
          name: Reset branch
          command: |
            git checkout main
            git pull --no-commit 
            git commit --allow-empty -m "Merge"
            git reset --hard origin/main
          shell: bash.exe
      - run:
          name: dos2unix
          command: |
            dos2unix /c/Users/circleci/project/share/shaders/*
            dos2unix /c/Users/circleci/project/share/shaders/main
            dos2unix /c/Users/circleci/project/share/shaders/includes
          shell: bash.exe 
      - run:
          name: Build Vapor
          command: |
            Copy-Item site_files\* -Destination .
            mkdir build
            cd build
            & 'C:\\Program Files\\CMake\\bin\\cmake.exe' -S C:\Users\circleci\project -B C:\Users\circleci\project\build -DDIST_INSTALLER:string=ON -DCMAKE_BUILD_TYPE:STRING=Release -G 'Visual Studio 16 2019' -A x64
            msbuild C:\Users\circleci\project\build\PACKAGE.vcxproj /p:Configuration=Release /p:Platform=x64
            mkdir -p C:\Users\circleci\project\tmp\workspace\installers
            Copy-Item C:\Users\circleci\project\build\*.exe -Destination C:\Users\circleci\project\tmp\workspace\installers
          no_output_timeout: 45m

      - persist_to_workspace:
          root: *workspace_root
          paths: 
            - installers

  release_on_github:
    macos:
      xcode: "11.1.0"
    steps:
      - *attach_workspace
      - run:
          name: list workspace
          command: |
            ls /tmp/workspace/installers
      - run:
          name: install ghr
          command: |
            brew install ghr
      - run:
          name: push assets with ghr
          command: |
            a=$'These installers are built weekly, and may not be stable.\n\n'
            b=$'Official releases may be found below.\n\n'
            c="Last built on "
            d=`date +"%m-%d-%y".\n\n`
            e="sha 256\n"
            f="Ubuntu18:  `shasum -a 256 VAPOR3*Ubuntu*`"
            g="CentOS:    `shasum -a 256 VAPOR3*CentOS7*`"
            h="OSX:       `shasum -a 256 VAPOR3*Darwin*`"
            i="Windows10: `shasum -a 256 VAPOR3*win64*`"
            message="$a$b$c$d$e$f$g$h"
            echo $message
            ghr -b "${message}" -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -prerelease -c ${CIRCLE_SHA1} -recreate 3.4preRelease /tmp/workspace/installers

  release_preInstallers:
    macos:
      xcode: "12.4.0"
    steps:
      - checkout
      - run:
          name: get main
          command: |
            git checkout main
            git pull --no-commit && git commit --allow-empty -m "Merge"
            git reset --hard origin/main
      - *attach_workspace
      - run:
          name: publish release
          command: |
            cd /Users/distiller/project
            hash=`git rev-parse HEAD`
            version=$(cat /tmp/workspace/installers/vaporVersion.txt)
            tag="${version}_PreRelease"
            cd /tmp/workspace/installers
            time=`date +"%d_%m_%y-%H:%M"`
            ubu="VAPOR3-$version-Ubuntu18-Weekly.sh"
            mv $ubu ${ubu/Weekly/$time}
            osx="VAPOR3-$version-Darwin-Weekly.dmg"
            mv $osx ${osx/Weekly/$time}
            cent="VAPOR3-$version-CentOS7-Weekly.sh"
            mv $cent ${cent/Weekly/$time}
            win="VAPOR3-$version-win64.exe"
            mv $win ${win/win64/win64-$time}
            brew install ghr
            endl=$'\n'
            e="sha 256"$endl
            f="Ubuntu18:  "
            sha=`shasum -a 256 VAPOR3*Ubuntu*`
            f=$f$sha$endl
            g="CentOS:    "
            sha=`shasum -a 256 VAPOR3*CentOS7*`
            g=$g$sha$endl
            h="OSX:       "
            sha=`shasum -a 256 VAPOR3*Darwin*`
            h=$h$sha$endl
            #i=$'Windows10: `shasum -a 256 VAPOR3*win64*`\n'
            releaseMessage="\"Installers are timestamped as %d_%m_%y-%H:%M, and are built on commit "${hash}"\""
            shaMessage="$e$f$g$h$i"
            echo $shaMessage > "/tmp/workspace/installers/sha256_for_"${time}
            echo ghr -b "Installers are timestamped as %d_%m_%y-%H:%M, and are built on commit "${hash}"" -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -prerelease -c ${CIRCLE_SHA1} -recreate -c ${hash} -n ${tag} ${tag} /tmp/workspace/installers
            ghr -b "Installers are timestamped as %d_%m_%y-%H:%M, and are built on commit "${hash}"" -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -prerelease -c ${CIRCLE_SHA1} -recreate -c ${hash} -n ${tag} ${tag} /tmp/workspace/installers


workflows:
  installers:
    jobs:
      - build_ubuntu18_installer
      - build_centos7_installer
      - build_osx_installer
      - build_win10_installer
      - release_preInstallers:
          requires:
            - build_ubuntu18_installer
            - build_centos7_installer
            - build_osx_installer
            - build_win10_installer
